{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": { "browsers": ["last 10 versions", "ie >= 9"] }
      }
    ],
    "@babel/react"
  ],
  "env": {
    "test" : {
      "presets": [["@babel/preset-env"], "@babel/react"]
    }
  }
}