.coop-backdrop {
  position: fixed;
  width: 100%;
  height: 100vh !important;
  overflow: hidden;
  background-color: rgba(0,0,0,0.5);
  left: 0;
  top: 0;
  visibility: hidden;
  opacity: 0;
}

.coop-backdrop--visible {
  animation: fadein-backdrop 0.5s forwards;
}

.coop-backdrop--invisible {
  animation: fadeout-backdrop 0.5s forwards;
}

body.coop-backdrop-body--overlay-open {
  overflow: hidden !important;
  position: fixed !important;
  width: 100% !important;
  height: 100% !important;
}

@keyframes fadein-backdrop {
  from {
    visibility: hidden;
    opacity: 0;
  }
  to   {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fadeout-backdrop {
  from {
    visibility: visible;
    opacity: 1;
  }
  to   {
    visibility: hidden;
    opacity: 0;
  }
}