.coop-pricetag {
  font-size: 1.9rem;
  font-family: 'Soho Std', 'Roboto Slab', sans-serif; // Todo: save to reusable component
  padding: 5px;
  width: 75px;
  display: flex;
  justify-content: center;
  height: 100%;
  font-weight: bold;
}

.coop-pricetag__sup {
  font-size: 0.9rem;
  top: -0.7em;
  margin-left: 3px;
  border-bottom: 1px solid #ddd;
}

