$font-standard: 'MarkOT', 'Open Sans', sans-serif;
$font-display: 'Soho Std', 'Roboto Slab', sans-serif;

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 980px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1573px;

$color-primary: #d10a11;
$color-primary-alternate: #e41f12;
$color-secondary: #1a5f76;
$color-secondary-alternate: #89cbc0;

$color-brand-fakta: #cf0131;
$color-brand-fakta-q: #B1D641;
$color-brand-irma: #002f63;
$color-brand-superbrugsen: #9C0C22;
$color-brand-kvickly: #e12b45;

$color-gray-dark: #3a3a3b;
$color-gray-light: #c6c5c7;

$color-violet: #633360;
$color-orange: #e94d3d;
$color-yellow: #f9b104;
$color-yellow-light: #ffe653;
$color-sand: #f1efe7;
$color-petroleum-dark: #1a5f76;
$color-petroleum: #89cbc0;
$color-petroleum-light: #bedfcf;
$color-green: #88bf51;
$color-red: #d61d29;

$z-index-backdrop: 100000;;
$site-nav-height: 60px;