$mobile-width: 80%;

@import './nav';
@import './global-nav';
@import './site-nav';
@import './context-nav';

@media (max-width: $breakpoint-sm) {
  .coop-nav {
    .coop-context-nav,
    .coop-global-nav {
      transform: translate3d(-105%, 0, 0);
      transition: transform 0.3s;
    }
  }

  .coop-nav--mobile-visible {
    .coop-context-nav,
    .coop-global-nav {
      transform: translate3d(0, 0, 0);
    }
  }
}