.coop-nav {
  font-family: $font-display;
}

.coop-nav__list {
  list-style: none;
  padding: 0;
  display: flex;
  padding: 5px 25px;
  margin: 0;
}

.coop-nav__link {
  cursor: pointer;
  display: block;

  &,
  &:visited,
  &:focus {
    color: #000;
    text-decoration: none;
  }

  &:hover,
  &:active {
    opacity: 0.7;
    text-decoration: none;
    color: #000;
  }
}
