$font-standard: 'MarkOT', 'Open Sans', sans-serif;
$font-display: 'Soho Std', 'Roboto Slab', sans-serif;

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 980px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1573px;

$coop-primary: #d61d29;
$coop-primary-alternate: #b8090f;

